<div class="row container">

    <div class="col-10">
      <div *ngIf="eventsData.length<1" class="no-data">
        No events found with the selected tags
                </div>
      <div class="row container">
      <mat-card class="example-card col-sm-6 m-2" *ngFor="let event of eventsData" style="    width: 48%;">
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src="{{event.cover_picture}}" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>
         <strong>  {{event.name}}
        </strong> 
          </p>
          <div class="row" style="color: #757575;">
            <div class="col-4">
              Starts On
            </div>
            <div class="col-4">
              Entry Fee
            </div>
            <div class="col-4">
              Venue
            </div>
          </div>
          <div class="row" style="color: black;">
            <div class="col-4">
              {{event.start_time|date: ' h:mm a, d MMM y'}}
            </div>
            <div class="col-4">
              {{event.currency}} {{event.fees}}
            </div>
            <div class="col-4">
              {{event.venue}}
            </div>
          
          </div>
      
            <mat-divider ></mat-divider>
  
          
          <div class="row shortdesc p-2">
            {{event.short_desc}}
          </div>
          <div class="row">
            <div class="col-4  m-1" style="background-color: #eee;color: #616161;font-size: 12px;    width: auto" *ngFor="let ev of event.card_tags">
              {{ev}}
            </div>
          </div>
          <mat-divider ></mat-divider>
          <div style="margin-top: 15px;">
            <div class="float-left" style="float: left;">
              <img src="{{img.image_url}}" alt="NA" *ngFor=" let img of event.registered_users.top_users" [hidden]="!img.image_url" style="    border: 1px solid #fff;
              width: 22px;
              height: 22px;
              border-radius: 50%;">
                 </div>
                 <div class="float-right" style="float: right;">
                   <img src="assets/reg-btn.png" alt="fdd" style="height: 30px;margin-right: -17px;
                 ">
                 </div>
          </div>
     <br>
     <br>
          <div class="col-4" *ngIf="event.registered_users.show_users_count" style="text-align: left;">
            and {{event.registered_users.other_users_count}} others registered
          </div>
         
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card> 
    </div>
    </div>
    
<div class="col-2 ">
  <div class="tags-heading m-2">
    <span>
      TAGS
    </span>
  </div>
 <div class="row " *ngFor="let tag of eventTagsData;index as i" (click)="showOrangeorN(i)" [ngClass]="showOrange[i] ? 'event-tags-orange' : 'event-tags-grey'">
  {{tag}}
 </div>
</div>
   
    </div>   