<div class="outer ">
    <mat-card class="example-card">
        <mat-tab-group mat-align-tabs="center" (selectedIndexChange)="tabChange($event)" [selectedIndex]="selectedIndex" >
            <mat-tab label="All Events" > 
                <mat-tab-group [selectedIndex]="subtabIndex"  (selectedIndexChange)="subtabChange($event)">
                    <mat-tab label="Upcoming row" > 
                      <app-upcoming  *ngIf="subtabIndex==0"> 
                        </app-upcoming>
                    </mat-tab>
                    <mat-tab label="Archived" >
                  <app-archived *ngIf="subtabIndex==1">

                  </app-archived>
                    </mat-tab>
                    <mat-tab label="All Time Favorites" > 
                    <app-alltime-fav *ngIf="subtabIndex==2"></app-alltime-fav>  
                    </mat-tab>
                  </mat-tab-group>
             </mat-tab>
            <mat-tab label="Webinars" >
                <mat-tab-group [selectedIndex]="subtabIndex"  (selectedIndexChange)="subtabChange($event)">
                  <mat-tab label="Upcoming row" > 
                    <app-webi-upcoming *ngIf="subtabIndex==0"> 
                      </app-webi-upcoming>
                  </mat-tab>
                  <mat-tab label="Archived" > 
                <app-webi-archived *ngIf="subtabIndex==1">

                </app-webi-archived>
                  </mat-tab>
                  <mat-tab label="All Time Favorites"> 
                  <app-webi-alltime-fav  *ngIf="subtabIndex==2"></app-webi-alltime-fav>  
                  </mat-tab>
                  </mat-tab-group>
                 </mat-tab>
            <mat-tab label="Coding Events">
                <mat-tab-group>
                    <mat-tab label="First"> Content 1 </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
                 </mat-tab>
                 <mat-tab label="Bootcamp Events">
                    <mat-tab-group>
                        <mat-tab label="First"> Content 1 </mat-tab>
                        <mat-tab label="Second"> Content 2 </mat-tab>
                        <mat-tab label="Third"> Content 3 </mat-tab>
                      </mat-tab-group>
                     </mat-tab>
                     <mat-tab label="Workshop">
                        <mat-tab-group>
                            <mat-tab label="First"> Content 1 </mat-tab>
                            <mat-tab label="Second"> Content 2 </mat-tab>
                            <mat-tab label="Third"> Content 3 </mat-tab>
                          </mat-tab-group>
                         </mat-tab>
          </mat-tab-group>
    </mat-card>
</div>









<!-- <button (click)="test()">testU</button> -->
<ngx-spinner></ngx-spinner>